# basics
numpy
pandas
matplotlib
seaborn
pydot
jupyter

# machine learning
scikit-learn
umap-learn

# deep learning
tensorflow
lrcurve

# data analysis
causalgraphicalmodels
evidently==0.4.8

# GPT
tiktoken
openai

# Transformers
transformers
datasets